LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your_api_key_here>
LANGSMITH_PROJECT=<your_project_name_here>

# For Grok
# GROQ_API_KEY=<your_api_key_here>
# MODEL="qwen/qwen3-32b"

# For OpenRouter models including OpenAI models
# OPENROUTER_API_KEY=<your_api_key_here>
# MODEL="openai/gpt-oss-120b:free" 
# base_url="https://api.openrouter.ai/v1"

# For Hugging Face
# HF_TOKEN=<your_hf_token_here>