ipykernel
jupyter
python-dotenv

langchain
langsmith
langchain_community
langchain-classic

langchain-openrouter
langchain_openai
langchain-ollama
langchain-groq
langchain_huggingface

langchain-text-splitters
sentence_transformers

langchain_chroma
faiss-cpu
chromadb

pypdf
pyowm
pymupdf
arxiv
wikipedia
beautifulsoup4

