LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your_api_key_here>
LANGSMITH_PROJECT=<your_project_name_here>

#For Grok
# GROQ_API_KEY=<your_api_key_here>
# MODEL="qwen/qwen3-32b"

#For OpenRouter models including OpenAI models
# OPENROUTER_API_KEY=<your_api_key_here>
# MODEL="stepfun/step-3.5-flash:free" #OR "arcee-ai/trinity-large-preview:free" OR "openai/gpt-oss-120b:free" OR etc...